<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by 陳暘和</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Merriweather:ital@1&amp;family=Noto+Serif+JP:wght@600&amp;display=swap'>
  <link rel='stylesheet' href='https://fonts.gstatic.com'><link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="jumbotron rounded-0" id="hd">
  <div class="container">
    <div class="c1">
      <h1>ECC-掲示板</h1>
      <hr/>
      <h4>ようこそ</h4>
      <div class="btn btn0">進む </div>
    </div>
    <div class="c2">
      <form action="/new_movie" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">メールアドレス</label>
          <hr/>
          <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp"/>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">パスワード</label>
          <hr/>
          <input class="form-control" id="exampleInputPassword1" type="password"/>
        </div>
        <button class="btn b1">ログイン</button>
      </form>
      <button class="btn b2">新規登録</button>
    </div>
    <div class="c3">
      <form action="/new_movie" method="POST">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="staticEmail">メールアドレス</label>
          <div class="col-sm-10">
            <input class="form-control" id="staticEmail" type="text"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputPassword">パスワード</label>
          <div class="col-sm-10">
            <input class="form-control" type="password"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputPassword">パスワード(確認)</label>
          <div class="col-sm-10">
            <input class="form-control" type="password"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputPassword">名前</label>
          <div class="col-sm-10">
            <input class="form-control" type="password"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputPassword">学籍番号</label>
          <div class="col-sm-10">
            <input class="form-control" type="password"/>
          </div>
        </div>
        <div class="btn b3">戻る</div>
        <button class="btn b4">新規登録</button>
      </form>
    </div>
  </div>
</header>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script  src="static/js/script.js"></script>

</body>
</html>
